body{

    background-color: beige;
}
.headings{
    text-align: center;
    font-size: 70px;
    font-family: Agbalumo;
}
.imgtag{
    width: 170px;
   
}
#div1{
   margin-left: 200px;
   position: absolute;
}
.subheadings{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
#div2{
    position: absolute;
    margin-left: 695px;
    margin-top: -74px;
}
#div3{
    margin-left: 1172px;
    margin-top: -77px;
    position: absolute;
}
#daughter{
    display: block;
}
#imgdad{
    height: 378px;
    width: 378px;
}
#imgme{
    height: 378px;
    width: 378px;
}


.divtag{
    margin-left: 837px;
}
#mother{
    position: absolute;
    margin-top: -50px;
}
#imgmum{
    position: absolute;
    height: 378px;
    width: 378px;
}
#mother_{
    margin-top:500px ;
    margin-left:800px;
   
}
.family{
    position: absolute;
    width:300px;
    margin-left: -733px;
    border: solid 5px moccasin;
    
}
.ptag{
    margin-left: -353px;
    position: absolute;
    margin-top: 51px;
}
#father_{
    margin-top: 279px;
    margin-left: 804px;
}
.ptag{
    font-size: 20px;
}
.about_fam{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}